# # Ignore dependencies and build caches
# node_modules
# build

# # VCS & CI metadata
# .git
# .github

# # Logs & temp files
# npm-debug.log*
# yarn-error.log*
# .DS_Store

# # Local env files
# .env*

# # Tests (not required for production image)
# **/__tests__
# **/*.test.*

# # Editor artifacts
# *.swp
