@import "~antd/dist/antd.css";
.list {
  overflow: hidden;
  transition: all 0.5s ease-in;
}
.list_copy {
  /* overflow: hidden; */
  margin-top: 100px;
  position: fixed;
  top: -1000px;
}

.item {
  background: blue;
  height: 20px;
}
